.button {
    color: #212121;
    text-decoration: none;
    margin-right: 1rem;
}

.button:after {
    content: "";
    position: absolute;
    top: 50%;
    left: -5px;
    width: 0%;
    height: 3px;
    background-color: #9c2727;
    transition: 0.3s ease-in-out;
}

.button:hover:after {
    width: 101%;
}

.button:hover {
    cursor: pointer;
}
