.greeting__wrapper {
    color: #fff;
    overflow: hidden;
    line-height: 112px;
}

.header {
    font-size: 88px;
    width: fit-content;
    position: relative;
    padding-left: 30px;
    text-transform: uppercase;
}
