.header__wrapper {
    overflow: hidden;
}

.header {
    opacity: 0;
    color: #212121;
    font-size: 4vw;
    width: fit-content;
    position: relative;
    font-family: jetBrains-extra-light, monospace, sans-serif;
}

@media screen and (max-width: 768px) {
    .header {
        font-size: 5vw;
    }
}

@media screen and (max-width: 520px) {
    .header {
        font-size: 6vw;
        margin-bottom: 3vw;
    }
}

@media screen and (max-width: 420px) {
    .header {
        font-size: 7vw;
    }
}


@media screen and (max-width: 320px) {
    .header {
        font-size: 8vw;
    }
}
