@font-face {
    font-family: "jetBrains-extra-bold";
    src: url("./assets/fonts/JetBrainsMono/fonts/webfonts/JetBrainsMono-ExtraBold.woff2");
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: "jetBrains-bold-italic";
    src: url("./assets/fonts/JetBrainsMono/fonts/webfonts/JetBrainsMono-BoldItalic.woff2");
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: "jetBrains-extra-light";
    src: url("./assets/fonts/JetBrainsMono/fonts/webfonts/JetBrainsMono-ExtraLight.woff2");
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: "jetBrains-extra-light-italic";
    src: url("./assets/fonts/JetBrainsMono/fonts/webfonts/JetBrainsMono-ExtraLightItalic.woff2");
    font-weight: 100;
    font-display: swap;
}

body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body::-webkit-scrollbar{
    display: none;
}

body {
    scrollbar-width: none;
}

h1, h2, h3, h4, h5, h6, p, span {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, strong {
    font-family: jetBrains-extra-bold, monospace, sans-serif;
}

div, p, span {
    font-family: jetBrains-extra-light, monospace, sans-serif;
}

div {
    box-sizing: border-box;
}

::selection {
    background: #212121;
    color: #ffffff;
}
